<!DOCTYPE html>
<html lang="en-us" ng-app="chatApp">
<head>
	<meta charset='utf-8'>
	<title>Chatroom Angular Firebase </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway">
	<link rel="stylesheet" type="text/css" href="style/style.css">	
</head>
<body>
     <p>something in here</p>
     <container>
         <!--likely to be a template-->
         <div class="sidebar">
             <ul ng-repeat="room in rooms">
                 <li>
                    {{room.name}}
                 </li>
             </ul>
         </div><!--sidebar-->
         
         <!--likely to be another template-->
         <section class="content">
             
             <label ng-repeat="message in messages">
                {{ username ":"}} {{message}}
             </label>
             
         </section>
     </container>
	    <!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
		<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
	
	<script src="scripts/app.js"></script>

</body>
</html>
