<h2> In landing Page</h2>
<div class="container" style="margin-top: 50px;">
	<section class="pull-left">
		<div >
			<ul>
			  <li  ng-repeat="room in rooms">
				<a ng-click="selectRoom(room)"><strong>{{ room.name }}</strong></a>
			  </li>
			</ul>
		</div>
		<button type="button" ng-click="open()">Add Room</button>
	</section>
	
	<!--MESSAGES display on right of room sidebar -->
	<section class="pull-right">
		<h2> {{selectedRoom.name}}</h2>
			<hr/>
			<br/>
			  <div ng-repeat="message in messages">
			  	<p>{{message.content}}</p>
			  </div>
			  
			  <br/>
			<!-- push a new message onto the array -->
			<form class="msg-form">
			  <input ng-model="message.content" placeholder="Send Message" />
			  <button type="submit" ng-click="send()">Add Message</button>
			</form>
	</section>
</div>